/**************************
	Selector universal
**************************/
/*
* {
	color:blue;
}
*/


/**************************
	Selector elemento
**************************/
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
}

/**************************
	Selector clase
**************************/
.article-header {
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
}