/**************************
	Selector universal
**************************/
/*
* {
	color:blue;
}
*/

/**************************
	Selector id
**************************/
/*
#topbar {
	background-color: yellow;
}
*/

/**************************
	Selector elemento
**************************/
html{
	font-size:100%;
}
h1, .h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
}
h2, .h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: green;
	font-size: 24px;
	font-size: 1.5rem;
}
h1 a{
	font-size: .6em;
}
a {
	font-size: 1rem;
}
/**************************
	Selector clase
**************************/
.article {
	font-family: Arial, Helvetica, sans-serif;
}
	.article__header {
		font-family: Arial, Helvetica, sans-serif;
		color: green;
	}
	.article--bgblue {
		background-color: blue;
	}

.background-amarillo {
	background-color: yellow;
}

li[data-RobotOwner="Mo"] {
	background-color: blue;
}
li[data-RobotOwner="Mi"] {
	background-color: olive;
}
li[data-RobotOwner="Mo"] a{
	color: white;
	text-decoration: none;
}
li[data-RobotOwner="Mi"] a{
	color: white;
	text-decoration: none;
}

input[type="email"]:valid{
	background-color: green;
}
input[type="email"]:invalid{
	background-color: red;
}

.toggle:checked + div.cuadrao{
	border-radius: 100px;
}
.toggle:checked ~ .cuadrao{
	border-radius: 10px;
}
.cuadrao {
	height: 100px;
	width: 100px;
	background-color: purple;
	margin-bottom: 3px;
}

li{
	list-style: none;
}
li::before{
	content:"➡︎ ";
	font-size: .8em;
	color:red;
}

.square{
	height: 1em;
	width: 1em;
	background-color: peru;
	font-size: 50px;
}
	.square::after{
		content: "";
		height: .5em;
		width: .5em;
		background-color: purple;
		position: absolute;
		margin-top: .25em;
		margin-left: .25em;
	}

.container{
	width: 80%;
}
.unidades ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: peru;
	height: 50vh;
	width: 50vw;
}

.unidades li{
	background-color: aqua;
	height: 20vh;
	border-bottom: maroon 1px solid;
}
	.unidades li:nth-child(2n-1){
		background-color: peru;
	}


